<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Udrive</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>udrive</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>NSCameraUsageDescription</key>
		<string>To take pictures</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>To record sounds during video</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>To pick pictures from the gallery</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Only when the user needs a map does this work</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Only when the user needs to get his or her current location</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Only when the user needs to use the background location</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<!-- TODO Replace this value: -->
					<!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
					<!-- 518103739855-h9fihdavdnglll26h7u592hhte59fsp4.apps.googleusercontent.com -->
					<string>com.googleusercontent.apps.694883210979-7gn41vja544b62bg2hjed9r81c922n5m</string>
				</array>
			</dict>
		</array>
		<key>UIBackgroundModes</key>
		<array>
		<string>fetch</string>
		<string>remote-notification</string>
		</array>
		<key>NSAppTransportSecurity</key>
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<true/>
				<key>NSAllowsArbitraryLoadsForMedia</key>
				<true/>
				<key>NSAllowsArbitraryLoadsInWebContent</key>
				<true/>
			</dict>
		<key>LSApplicationQueriesSchemes</key>
<array>
  <string>sms</string>
  <string>tel</string>
</array>

		</dict>
</plist>
